#BoardContainer {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

/* Image taken from https://unsplash.com */
.creator {
    height: 100vh;
    width: 100%;
    background-image: url("./sudoku-bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555;
}

/* input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
   */